* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

.header img {
    height: 10%;
    width: 80%;
}
.gallary h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #0a3896;
    padding: 0px 10px;
    margin: 10px 0px;
    text-align: center;
}
.gal_pic{
    width: 25%;
    margin-bottom: 30px;
}
.pic{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.pic:hover{
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}
/*************** Gallery starts here *****/
.text-blk {
  text-align: center;
  margin-top: 20px;
  font-size: 48px;
  font-weight: 900;
  color: #003F51;
  line-height: 25px;
}
.gallary .pics {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.gallary .gal_pic img {
    width: 600px;
    max-width: 90%;
    text-align: center;
}
.gallary h2{
    margin: 0px 40px ;
}


@media screen and (max-width:1000px) {

    .gallary .pics {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .gal_pic{
        margin-bottom: 40px;
        width: auto;
    }


}

/*************** Gallery Ends  here ************/

.footer{
    text-align: center;
    color: white;
    background-color: #003F51;
}
.logos div{
    display: inline-block;
    padding: 0% 2%;
}
.logos img{
    height: 30px;
    width: 30px;
}
@media screen and (max-width: 600px){
   .footer{
    font-size: x-small;
   } 
}