* {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}




.text h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: -0.022em;

  color: #0a3896;
  padding: 0px 10px;
  margin: 10px 0px;

}
@media screen and (max-width:376px){
  .text h2{
    font-size: 30px;
  }
}

.text p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: -0.019em;
  color: #1E1E1E;
  text-align: center;
}

.testi {
  background: #052463;
  color: white;
}

.bgpic {
  margin-top: -2%;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.66) url(bg-pic2.jpg) center;
  background-size: cover;
  background-blend-mode: darken;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.textinpic {

  text-align: center;

}


.timer {
  text-align: center;
  margin-bottom: 15px ;

}

.aviskar-h2 {
  font-size: calc(70px + 1vw)!important;
  color: whitesmoke;
}

.textinpic h2 {
  margin-bottom: 40px;
  font-size: calc(50px + 1vw);
  color: whitesmoke;


}

@media only screen and (max-width:600px) {
  .textinpic h2 {
    font-size: calc(18px + 1vw);
  }
  .aviskar-h2 {
    font-size: calc(30px + 1vw)!important;
  }


}
button {
  height: 75px;
  width: 200px;
  background-color: #eee;
  border: 2px solid white;
  border-radius: 5pc;
  color: rgb(0, 0, 0);
  margin-top: 20px ;
  font-size: 27px;
}

.main a {
  text-decoration-color: #111;
  color: #111;
  text-decoration-line: none;
  font-size: 15px;
  font-weight: bold;
}

button:hover {
  background-color: rgba(255, 255, 255, 0);
  transition: 100ms ease-in;
  color: whitesmoke;

}



@media screen and (min-width: 1025px) {
  .text-blk{
    font-size: 20px ;
  }
  
  }
@media screen and (max-width: 600px) {
  .bgpic {
    height: 100vh;
  }

  .textinpic h2 {
    margin: 20px;
  }

  .textinpic {
    font-size: x-small;
  }

  .footer {
    font-size: x-small;
  }

  .ah1 {
    font-size: medium;
  }
  button {
    height:40px ;
    width:150px  ;
    font-size: 21px;
  }
}

.ah1 {
  font-size: large;
}

.countdown-timer {
  pointer-events: none;
  cursor: default;
}

.countdown-timer a {
  text-decoration-color: white;
}

/****************about  starts here ******* */

.about {
  display: flex;
  justify-content: space-between;
  margin: 10px 40px;
  align-items: center;
}

.about h2 {
  margin: 20px 0px;
}

.about .text {
  max-width: 70%;
  font-size: larger;
}

.about .logo img {
  height: 249.93px;
  padding-top: 32px;
}

@media screen and (max-width:1200px) {
  .about {
    flex-direction: column-reverse;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
  }

  .about .text {
    max-width: 90%;
  }

  .about .logo {
    max-width: 320px;
    height: 300px;
    margin: 25px 0px;
  }

  .about .logo img {
    max-width: 300px;
    height: 230px;

  }



}

/****************about  ends s here ******* */
/*************** Gallery starts here *****/

.gallary {
  margin: 50px 0px;
}

.gallary h2 {
  margin: 20px 0px;
}

.gallary .pics {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.gallary .gal_pic img {
  width: 600px;
  max-width: 90%;
  text-align: center;
}

.gallary h2 {
  margin: 20px 0px;
}


@media screen and (max-width:1000px) {

  .gallary .pics {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .gal_pic {
    margin-bottom: 40px;
  }


}

/*************** Gallery Ends  here ************/
/***********testimonial***********/
/* Slideshow container */
.slideshow-container {
  max-width: max-content;
  width: 98%;
  position: relative;
  margin: auto;
}

.testimonial {
  text-align: center;
  margin-bottom: 50px;
}

.justify {
  text-align: justify;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 5px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  /* transition: 0.6s ease; */
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 5px;
  border-radius: 3px 0 0 3px;
  margin: 0px -10px;
}

/* position the "previous button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  margin: 0px -10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #717171;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  /* padding: 8px 12px; */
  /* position: absolute; */
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #717171;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.responsive-cell-block {
  min-height: 75px;
}

.card {
  text-align: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  color: white;
}

@media only screen and (max-width:768px) {
  .card {
    padding: 0px 12px;
  }


}

.card-container {
  margin-bottom: 25px;
}

.text-blk {
  color: #ffffff;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  max-width: 92%;
  font-size: 14px;
  font-style: italic;
}

@media only screen and (max-width:768px) {
  .text-blk {
    max-width: 100%;
  }

}

.responsive-container-block {
  text-align: center;
  min-height: 75px;
  height: fit-content;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}

.card {
  text-align: center;
  justify-content: center;
}

.active,
.dot:hover {
  background-color: white;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text {
    font-size: 11px
  }
}

@media (max-width: 500px) {
  /* .card-container {
      width: 300px;
      margin-bottom: 25px;
      margin-right: 0px;
      margin-left: -20px;
    } */
}

.team-image-wrapper {
  clip-path: circle(50% at 50% 50%);
  width: 130px;
  height: 130px;
}

.team-member-image {
  max-width: 100%;
}



/*************** footer starts here*************/

.footer p {
  font-size: 13px;
}

.logos div {
  display: inline-block;
  padding: 0% 1%;
}

.logos img {
  margin-top: 10px;
 
}

/*/*/
/*//************************************/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: relative;
  width: 100%;
  /* padding: 100px 0; */
  /* countdown */
}

.bg-blue {
  background-color: rgb(218, 218, 255);
}

#header h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#header h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 22px;
}

#header .countdown {
  margin-bottom: 80px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#header .countdown div {
  text-align: center;
  margin: 10px;
  width: 150px;
  padding: 15px 0;
  background: rgb(255, 255, 255);
}

#header .countdown div h3 {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 15px;
}

#header .countdown div h4 {
  font-size: 16px;
  font-weight: 600;
}

.testi-h2 {
  color: white;
}

@media (max-width: 575px) {
  #header .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }

  #header .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }

  #header .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

#header .subscribe {
  font-size: 15px;
  text-align: center;
}

#header .subscribe h4 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#header .subscribe .subscribe-form {
  min-width: 300px;
  margin-top: 10px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  text-align: left;
}

#header .subscribe .subscribe-form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#header .subscribe .subscribe-form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #ff0000;
  color: #fff;
  transition: 0.3s;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .subscribe .subscribe-form input[type=submit]:hover {
  background: #f50000;
}

#header .subscribe .error-message {
  display: none;
  color: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#header .subscribe .sent-message {
  display: none;
  color: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#header .subscribe .loading {
  display: none;
  text-align: center;
  padding: 15px;
}

#header .subscribe .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading-notify 1s linear infinite;
  animation: animate-loading-notify 1s linear infinite;
}

@-webkit-keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#header .social-links {
  margin-top: 10px;
}

#header .social-links a {
  font-size: 24px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1;
  padding-top: 14px;
  margin: 0 10px;
  text-align: center;
  transition: 0.3s;
}

#header .social-links a:hover {
  color: #fff;
}